body {
	font-family: verdana, sans-serif;
	max-width: 900px;
	margin: auto;
}

.pieceRow {
	background: #ffffff;
	padding: 1rem;
	margin: 0.1rem;
	float: left;
	width: 120px;
}

.pieceImgId {
	padding: 5px;
    text-align: center;
    display: inline-block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    background: #cccccc;
}
.pieceImgId .img_id {
	font-weight: bold;
	font-size: 1rem;
}
.pieceConnection {
	display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    background: #ddd;
    text-align: center;
}

.pieceConnection.isopen {
	background: #cccc00;
}

a.mainLinks {
	font-family: verdana, sans-serif;
	display:inline-block;
	width:250px;
	padding:5px;
	background:#3c354f;
	color:#9f8dcd;
	padding-left:15px;
	margin:2px;
	border-right:10px solid black;
	border-bottom:10px solid black;
	font-size:16px;
	transition: all .5s ease;
}

a.mainlinks:hover {
	color:#3c354f;
	background:#9f8dcd;
	border-right:20px solid black;
	border-bottom:10px solid black;
}

.gridcell {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	overflow:hidden;
}

#pieceDetail {
	float:right;
	background:#333333;
	border:6px solid black;
	width:256px;
	height:256px;
}

.artistListButton>span {
	float:right;
	font-weight:bold;
	background:#aaaaaa;
	padding: 5px;
	text-align:center;
	color:#ffffff;
}
